*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

svg {
    vertical-align: middle;
}

input,
select,
textarea {
    font-family: inherit;
}

button {
    border: none;

    cursor: pointer;

    font-family: inherit;
}
