$color-black: #000000;
$color-gray: #58595b;
$color-salad: #cce9da;
$color-light-green: #009344;
$color-dark-green: #006738;
$color-white: #ffffff;


$sidebar-menu-slide-time: 0.3s;
$accordion2-slide-time: 0.4s;
