<section class="page-section doctors">
    <div class="container">
        <div class="heading heading--centered page-section__heading">
            <h2 class="heading__inner heading__inner--default">
                Наши врачи
            </h2>
            <div class="heading__subhead heading__subhead--default">
                У нас работают врачи-стоматологи с разной специализацией, но все они — лучшие в своей области.
                High Guard Clinic создала идеальные условия для деятельности своих сотрудников. Мы развиваемся, учимся и оттачиваем
                мастерство, стажируемся в ведущих университетах Европы, чтобы еще на шаг стать ближе к совершенству.
            </div>
        </div>
        <div class="doctors-intro">
            <div class="doctor-cards doctors-intro__slider">
                <div class="doctor-cards__inner swiper-container">
                    <div class="swiper-wrapper">
                        <div class="doctor-card swiper-slide">
                            <div class="doctor-card__photo">
                                <img src="images/doctor-thumbs/01.jpg" alt="">
                            </div>
                            <div class="doctor-card__info">
                                <a class="link doctor-card__name" href="doctor.html">
                                    Третьяков Сергей Владимирович
                                </a>
                                <div class="doctor-card__prof">
                                    <div class="doctor-card__post">
                                        Должность: <span class="doctor-card__post-name">Главный врач</span>
                                    </div>
                                    <div class="doctor-card__exp">
                                        Опыт работы: <span class="doctor-card__exp-years">20 лет</span>
                                    </div>
                                </div>
                                <button class="btn btn--default doctor-card__btn" type="button" data-modal="modal-appointment">
                                    Записаться на прием
                                    <span class="btn__circle">
                                        <svg width="11" height="6" viewBox="0 0 11 6" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.98312 0L7.49315 0.487259L9.67352 2.65547H0V3.34457H9.67352L7.49315 5.51276L7.98312 6.00001L11 3L7.98312 0Z"/>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                            <a class="link link--right doctor-card__link" href="doctor.html">
                                Подробнее
                                <svg class="link__arrow" width="18" height="10" viewBox="0 0 18 10" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.0633 0L12.2615 0.812096L15.8294 4.42577H0V5.57426H15.8294L12.2615 9.1879L13.0633 10L18 4.99998L13.0633 0Z"/>
                                </svg>
                            </a>
                        </div>
                        <div class="doctor-card swiper-slide">
                            <div class="doctor-card__photo">
                                <img src="images/doctor-thumbs/02.jpg" alt="">
                            </div>
                            <div class="doctor-card__info">
                                <a class="link doctor-card__name" href="doctor.html">
                                    Федоренко Евгений Анатольевич
                                </a>
                                <div class="doctor-card__prof">
                                    <div class="doctor-card__post">
                                        Должность: <span class="doctor-card__post-name">Врач рентгенолог</span>
                                    </div>
                                    <div class="doctor-card__exp">
                                        Опыт работы: <span class="doctor-card__exp-years">8 лет</span>
                                    </div>
                                </div>
                                <button class="btn btn--default doctor-card__btn" type="button" data-modal="modal-appointment">
                                    Записаться на прием
                                    <span class="btn__circle">
                                        <svg width="11" height="6" viewBox="0 0 11 6" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.98312 0L7.49315 0.487259L9.67352 2.65547H0V3.34457H9.67352L7.49315 5.51276L7.98312 6.00001L11 3L7.98312 0Z"/>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                            <a class="link link--right doctor-card__link" href="doctor.html">
                                Подробнее
                                <svg class="link__arrow" width="18" height="10" viewBox="0 0 18 10" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.0633 0L12.2615 0.812096L15.8294 4.42577H0V5.57426H15.8294L12.2615 9.1879L13.0633 10L18 4.99998L13.0633 0Z"/>
                                </svg>
                            </a>
                        </div>
                        <div class="doctor-card swiper-slide">
                            <div class="doctor-card__photo">
                                <img src="images/doctor-thumbs/03.jpg" alt="">
                            </div>
                            <div class="doctor-card__info">
                                <a class="link doctor-card__name" href="doctor.html">
                                    Митрофанова Ольга Николаевна
                                </a>
                                <div class="doctor-card__prof">
                                    <div class="doctor-card__post">
                                        Должность: <span class="doctor-card__post-name">Стоматолог терапевт</span>
                                    </div>
                                    <div class="doctor-card__exp">
                                        Опыт работы: <span class="doctor-card__exp-years">11 лет</span>
                                    </div>
                                </div>
                                <button class="btn btn--default doctor-card__btn" type="button" data-modal="modal-appointment">
                                    Записаться на прием
                                    <span class="btn__circle">
                                        <svg width="11" height="6" viewBox="0 0 11 6" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.98312 0L7.49315 0.487259L9.67352 2.65547H0V3.34457H9.67352L7.49315 5.51276L7.98312 6.00001L11 3L7.98312 0Z"/>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                            <a class="link link--right doctor-card__link" href="doctor.html">
                                Подробнее
                                <svg class="link__arrow" width="18" height="10" viewBox="0 0 18 10" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.0633 0L12.2615 0.812096L15.8294 4.42577H0V5.57426H15.8294L12.2615 9.1879L13.0633 10L18 4.99998L13.0633 0Z"/>
                                </svg>
                            </a>
                        </div>
                        <div class="doctor-card swiper-slide">
                            <div class="doctor-card__photo">
                                <img src="images/doctor-thumbs/04.jpg" alt="">
                            </div>
                            <div class="doctor-card__info">
                                <a class="link doctor-card__name" href="doctor.html">
                                    Третьяков Сергей Владимирович
                                </a>
                                <div class="doctor-card__prof">
                                    <div class="doctor-card__post">
                                        Должность: <span class="doctor-card__post-name">Главый врач</span>
                                    </div>
                                    <div class="doctor-card__exp">
                                        Опыт работы: <span class="doctor-card__exp-years">20 лет</span>
                                    </div>
                                </div>
                                <button class="btn btn--default doctor-card__btn" type="button" data-modal="modal-appointment">
                                    Записаться на прием
                                    <span class="btn__circle">
                                        <svg width="11" height="6" viewBox="0 0 11 6" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.98312 0L7.49315 0.487259L9.67352 2.65547H0V3.34457H9.67352L7.49315 5.51276L7.98312 6.00001L11 3L7.98312 0Z"/>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                            <a class="link link--right doctor-card__link" href="doctor.html">
                                Подробнее
                                <svg class="link__arrow" width="18" height="10" viewBox="0 0 18 10" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.0633 0L12.2615 0.812096L15.8294 4.42577H0V5.57426H15.8294L12.2615 9.1879L13.0633 10L18 4.99998L13.0633 0Z"/>
                                </svg>
                            </a>
                        </div>
                        <div class="doctor-card swiper-slide">
                            <div class="doctor-card__photo">
                                <img src="images/doctor-thumbs/05.jpg" alt="">
                            </div>
                            <div class="doctor-card__info">
                                <a class="link doctor-card__name" href="doctor.html">
                                    Третьяков Сергей Владимирович
                                </a>
                                <div class="doctor-card__prof">
                                    <div class="doctor-card__post">
                                        Должность: <span class="doctor-card__post-name">Главный врач</span>
                                    </div>
                                    <div class="doctor-card__exp">
                                        Опыт работы: <span class="doctor-card__exp-years">20 лет</span>
                                    </div>
                                </div>
                                <button class="btn btn--default doctor-card__btn" type="button" data-modal="modal-appointment">
                                    Записаться на прием
                                    <span class="btn__circle">
                                        <svg width="11" height="6" viewBox="0 0 11 6" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.98312 0L7.49315 0.487259L9.67352 2.65547H0V3.34457H9.67352L7.49315 5.51276L7.98312 6.00001L11 3L7.98312 0Z"/>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                            <a class="link link--right doctor-card__link" href="doctor.html">
                                Подробнее
                                <svg class="link__arrow" width="18" height="10" viewBox="0 0 18 10" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.0633 0L12.2615 0.812096L15.8294 4.42577H0V5.57426H15.8294L12.2615 9.1879L13.0633 10L18 4.99998L13.0633 0Z"/>
                                </svg>
                            </a>
                        </div>
                        <div class="doctor-card swiper-slide">
                            <div class="doctor-card__photo">
                                <img src="images/doctor-thumbs/05.jpg" alt="">
                            </div>
                            <div class="doctor-card__info">
                                <a class="link doctor-card__name" href="doctor.html">
                                    Третьяков Сергей Владимирович
                                </a>
                                <div class="doctor-card__prof">
                                    <div class="doctor-card__post">
                                        Должность: <span class="doctor-card__post-name">Главный врач</span>
                                    </div>
                                    <div class="doctor-card__exp">
                                        Опыт работы: <span class="doctor-card__exp-years">20 лет</span>
                                    </div>
                                </div>
                                <button class="btn btn--default doctor-card__btn" type="button" data-modal="modal-appointment">
                                    Записаться на прием
                                    <span class="btn__circle">
                                        <svg width="11" height="6" viewBox="0 0 11 6" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.98312 0L7.49315 0.487259L9.67352 2.65547H0V3.34457H9.67352L7.49315 5.51276L7.98312 6.00001L11 3L7.98312 0Z"/>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                            <a class="link link--right doctor-card__link" href="doctor.html">
                                Подробнее
                                <svg class="link__arrow" width="18" height="10" viewBox="0 0 18 10" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.0633 0L12.2615 0.812096L15.8294 4.42577H0V5.57426H15.8294L12.2615 9.1879L13.0633 10L18 4.99998L13.0633 0Z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <button class="slider-arrow doctor-cards__arrow doctor-cards__arrow--prev" type="button"></button>
                <button class="slider-arrow doctor-cards__arrow doctor-cards__arrow--next" type="button"></button>
            </div>
            <div class="doctor-thumbs doctors-intro__thumbs swiper-container">
                <div class="swiper-wrapper">
                    <div class="doctor-thumbs__thumb doctor-thumbs__thumb--active swiper-slide">
                        <img src="images/doctor-thumbs/01.jpg" alt="">
                    </div>
                    <div class="doctor-thumbs__thumb swiper-slide">
                        <img src="images/doctor-thumbs/02.jpg" alt="">
                    </div>
                    <div class="doctor-thumbs__thumb swiper-slide">
                        <img src="images/doctor-thumbs/03.jpg" alt="">
                    </div>
                    <div class="doctor-thumbs__thumb swiper-slide">
                        <img src="images/doctor-thumbs/04.jpg" alt="">
                    </div>
                    <div class="doctor-thumbs__thumb swiper-slide">
                        <img src="images/doctor-thumbs/05.jpg" alt="">
                    </div>
                    <div class="doctor-thumbs__thumb swiper-slide">
                        <img src="images/doctor-thumbs/05.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>