<section class="content-section content__section">
    <div class="heading heading--left-aligned content-section__heading">
        <h2 class="heading__inner heading__inner--in-content">
            Часто задаваемые вопросы
        </h2>
    </div>
    <div class="content-section__text">
        <p class="content-section__paragraph">
            Специалисты нашей клиники с удовольствием ответят на все ваши вопросы.
            Ниже представленны наиболее популярные.
        </p>
    </div>

    <div class="accordion1 content-section__accordion">
        <div class="accordion1-item accordion1__item">
            <button class="accordion1-item__header accordion-item__header" type="button">
                Как проходит процедура?
            </button>
            <div class="accordion1-item__body">
                <div class="accordion1-item__content">
                    <p class="content-section__paragraph">
                        На первом этапе, консультации нашего специалиста, вам будет нужно определиться с желаемым
                        результатом — тоном отбеливания при помощи специальной палитры. Дальнейшие действия
                        выполняются в следующей последовательности:
                    </p>
                    <ul class="list">
                        <li class="list__item">
                            Обработка десен защитным составом;
                        </li>
                        <li class="list__item">
                            Защита глаз при помощи специальных очков;
                        </li>
                        <li class="list__item">
                            Нанесение отбеливающего геля;
                        </li>
                        <li class="list__item">
                            Первая процедура отбеливания в течение 15 минут под воздействием лампы;
                        </li>
                        <li class="list__item">
                            Полоскание для удаления остатков геля;
                        </li>
                        <li class="list__item">
                            Вторая процедура отбеливания в течение по 15 минут под воздействием лампы;
                        </li>
                        <li class="list__item">
                            Полоскание;
                        </li>
                        <li class="list__item">
                            Третья процедура отбеливания в течение 15 минут под воздействием лампы;
                        </li>
                        <li class="list__item">
                            Нанесение реминерализирующего геля для защиты эмали от чувствительности и ее восстановления.
                        </li>         
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion1-item accordion1__item">
            <button class="accordion1-item__header accordion-item__header" type="button">
                Показания
            </button>
            <div class="accordion1-item__body">
                <div class="accordion1-item__content">
                    content
                </div>
            </div>
        </div>
        <div class="accordion1-item accordion1__item">
            <button class="accordion1-item__header accordion-item__header" type="button">
                Противопоказания
            </button>
            <div class="accordion1-item__body">
                <div class="accordion1-item__content">
                    content
                </div>
            </div>
        </div>
        <div class="accordion1-item accordion1__item">
            <button class="accordion1-item__header accordion-item__header" type="button">
                Насколько безопасно отбеливание Zoom 4?
            </button>
            <div class="accordion1-item__body">
                <div class="accordion1-item__content">
                    content
                </div>
            </div>
        </div>
        <div class="accordion1-item accordion1__item">
            <button class="accordion1-item__header accordion-item__header" type="button">
                Сколько держится результат?
            </button>
            <div class="accordion1-item__body">
                <div class="accordion1-item__content">
                    content
                </div>
            </div>
        </div>
    </div>
</section>