<section class="hero">
    <div class="hero__container container-wide">
        <div class="hero-slider hero__slider">
            <div class="hero-slide hero-slider__slide">
                <div class="hero-slide__container container">
                    <div class="hero-slide__content">
                        <div class="hero-offer hero-slide__offer">
                            <div class="hero-offer__title">
                                Комплексная 
                                профессиональная 
                                гигиена полости рта
                            </div>
                            <div class="hero-offer__subtitle">
                                По удивительной цене -
                            </div>
                            <div class="hero-offer__price">
                                6 500<span class="hero-offer__currency">руб.</span>
                            </div>
                            <div class="hero-offer__days">
                                С 4 июня по 31 августа 2018 года
                            </div>
                        </div>
                        <div class="hero-slide__actions">
                            <button class="btn btn--default hero-slide__btn">
                                Записаться на прием
                                <span class="btn__circle">
                                    <svg width="11" height="6" viewBox="0 0 11 6" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.98312 0L7.49315 0.487259L9.67352 2.65547H0V3.34457H9.67352L7.49315 5.51276L7.98312 6.00001L11 3L7.98312 0Z"/>
                                    </svg>
                                </span>
                            </button>
                            <a class="link link--right hero-slide__link" href="#">
                                Подробнее
                                <svg class="link__arrow" width="18" height="10" viewBox="0 0 18 10" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.0633 0L12.2615 0.812096L15.8294 4.42577H0V5.57426H15.8294L12.2615 9.1879L13.0633 10L18 4.99998L13.0633 0Z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="hero-slide__image">
                        <img src="images/hero-slider/02.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>