<section class="content-section content__section">
    <div class="heading heading--left-aligned content-section__header">
        <h2 class="heading__inner heading__inner--in-content">
            @@title
        </h2>
        <div class="heading__subhead heading__subhead--in-content">
            Спасибо Вам за отзывы о клинико-диагностическом центре High Guard Clinic. Мы искренне
            признательны всем тем, кто все эти годы с нами, кто выбрал именно нашу клинику и по достоинству
            ценит наш высокий уровень сервиса и безупречное качество нашей работы.
        </div>
    </div>
    <div class="review-cards">
        <div class="review-cards__inner">
            <div class="review-card review-cards__card">
                <div class="review-card__header">
                    <div class="review-card__subject">
                        О чем отзыв: <a class="link review-card__subject-name" href="#">Удаление зубов</a>
                    </div>
                    <div class="review-card__recipient">
                        Врач: <a class="link review-card__recipient-name" href="reviews.html">Общий отзыв</a>
                    </div>
                </div>
                <div class="review-card__body">
                    <div class="review-card__text">
                        Хочу выразить признательность и благодарность отличному врачу - Попову Алексею Дмитриевичу за
                        профессиональное удаление зуба мудрости! Отмечу, что зуб был очень сложным: расположен за
                        челюстной костью, росший вниз (под семерку), с кривыми корнями. Не ожидал, что удаление такого зуба
                        сможет пройти столь спокойно и безболезненно (пишу, кстати, по факту заживления - лунка затянулась
                        прекрасно). В общем, огромное спасибо Алексею Дмитриевичу , персоналу и самой клинике!
                    </div>
                </div>
                <div class="review-card__footer">
                    <span class="review-card__author">Роман</span> <time class="review-card__date" datetime="2021-12-25">25.12.2021</time>
                </div>
            </div>
            <div class="review-card review-cards__card">
                <div class="review-card__header">
                    <div class="review-card__subject">
                        О чем отзыв: <a class="link review-card__subject-name" href="#">Протезирование зубов</a>
                    </div>
                    <div class="review-card__recipient">
                        Врач: <a class="link review-card__recipient-name" href="#">Шуравин Михаил Александрович</a>
                    </div>
                </div>
                <div class="review-card__body">
                    <div class="review-card__text">
                        Низко приклоняю голову перед высококвалифицированными специалистами: доктором
                        Шуравин Михаил Александрович и старшим техником - Салунский Максим, за их «золотые
                        ручки», внимание, отношения. Много лет я хожу со съёмными протезами, но так как сделали
                        они, такого у меня не было. В предверьях Наступающего Нового года 2020 хочу пожелать
                        здоровья, счастья, творческих успехов, а самое главное ВЕЗЕНИЯ!!! Спасибо Вам!!! Коллектив
                        необыкновенный: добрый, приветливый, услужливый. Так держать! Отдельное Спасибо
                        помощнику ген. дир-ра Копосовой Марине и ст. адм-ру Филь Юлии за приветливое
                        отношение и заботу к пациентам.
                    </div>
                </div>
                <div class="review-card__footer">
                    <span class="review-card__author">Игнатьева Тамара Владимировна</span> <time class="review-card__date" datetime="2021-12-25">25.12.2021</time>
                </div>
            </div>
        </div>
        <div class="review-cards__links">
            <a class="link review-cards__all" href="reviews.html">Посмотреть все отзывы</a>
            <a class="link review-cards__add" href="#">Добавить отзыв</a>
        </div>
    </div>
</section>