<section class="page-section useful">
    <div class="container">
        <div class="heading heading--centered page-section__heading">
            <h2 class="heading__inner heading__inner--default">
                Полезное
            </h2>
            <div class="heading__subhead heading__subhead--default">
                Вы найдете интересные факты и исторические справки о стоматологии, полезные познавательные статьи и публикации от
                ведущих специалистов на тему имплантации зубов, лечения кариеса, установки виниров и многое другое, а так же новости
                и события нашей стоматологической клиники.
            </div>
        </div>

        <div class="useful__cards">
            <article class="post-item post-item--w33p useful__card" data-category="articles">
                <a class="post-preview post-preview--wo-body post-item__preview" href="post.html">
                    <div class="post-preview__category post-preview__category--articles">
                        Статьи
                    </div>
                    <img class="post-preview__image" src="images/useful/01.jpg" alt="">
                    <div class="post-preview__inner">
                        <h3 class="post-preview__caption">
                            Зуб даю: как сходить к
                            стоматологу и не потерять
                            здоровье
                        </h3>
                        <div class="post-preview__footer">
                            <time class="post-preview__date" datetime="2021-12-25">
                                25.12.2021
                            </time>
                            <div class="post-preview__icon">
                                <svg class="post-preview__chevron" width="28" height="28" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.4001 14.0001L12.1773 10.4917C11.9029 10.2145 11.9029 9.76512 12.1773 9.48652C12.4517 9.21072 12.8983 9.21072 13.1713 9.48652L17.1011 13.4961C17.3755 13.7747 17.3755 14.2241 17.1011 14.4999L13.1713 18.5095C12.8983 18.7881 12.4517 18.7867 12.1773 18.5095C11.9029 18.2337 11.9029 17.7843 12.1773 17.5057L15.4001 14.0001ZM14.0001 0.56012C21.4229 0.56012 27.4401 6.57732 27.4401 14.0001C27.4401 21.4243 21.4229 27.4401 14.0001 27.4401C6.57726 27.4401 0.560059 21.4243 0.560059 14.0001C0.560059 6.57732 6.57726 0.56012 14.0001 0.56012ZM14.0001 25.6957C20.4583 25.6957 25.6957 20.4597 25.6957 14.0001C25.6957 7.54052 20.4583 2.30452 14.0001 2.30452C7.53906 2.30452 2.30446 7.54052 2.30446 14.0001C2.30306 20.4597 7.53906 25.6957 14.0001 25.6957Z"/>
                                </svg> 
                            </div>
                        </div>
                    </div>
                </a>
            </article>
            <article class="post-item post-item--w33p useful__card" data-category="events">
                <a class="post-preview post-preview--wo-body post-item__preview" href="post.html">
                    <div class="post-preview__category post-preview__category--events">
                        События
                    </div>
                    <img class="post-preview__image" src="images/useful/02.jpg" alt="">
                    <div class="post-preview__inner">
                        <h3 class="post-preview__caption">
                            10 мифов о «разводе» в
                            стоматологии: разоблачения
                            и рекомендации
                        </h3>
                        <div class="post-preview__footer">
                            <time class="post-preview__date" datetime="2021-01-25">
                                25.01.2021
                            </time>
                            <div class="post-preview__icon">
                                <svg class="post-preview__chevron" width="28" height="28" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.4001 14.0001L12.1773 10.4917C11.9029 10.2145 11.9029 9.76512 12.1773 9.48652C12.4517 9.21072 12.8983 9.21072 13.1713 9.48652L17.1011 13.4961C17.3755 13.7747 17.3755 14.2241 17.1011 14.4999L13.1713 18.5095C12.8983 18.7881 12.4517 18.7867 12.1773 18.5095C11.9029 18.2337 11.9029 17.7843 12.1773 17.5057L15.4001 14.0001ZM14.0001 0.56012C21.4229 0.56012 27.4401 6.57732 27.4401 14.0001C27.4401 21.4243 21.4229 27.4401 14.0001 27.4401C6.57726 27.4401 0.560059 21.4243 0.560059 14.0001C0.560059 6.57732 6.57726 0.56012 14.0001 0.56012ZM14.0001 25.6957C20.4583 25.6957 25.6957 20.4597 25.6957 14.0001C25.6957 7.54052 20.4583 2.30452 14.0001 2.30452C7.53906 2.30452 2.30446 7.54052 2.30446 14.0001C2.30306 20.4597 7.53906 25.6957 14.0001 25.6957Z"/>
                                </svg> 
                            </div>
                        </div>
                    </div>
                </a>
            </article>
            <article class="post-item post-item--w33p useful__card" data-category="news">
                <a class="post-preview post-preview--wo-body post-item__preview" href="post.html">
                    <div class="post-preview__category post-preview__category--news">
                        Новости
                    </div>
                    <img class="post-preview__image" src="images/useful/03.jpg" alt="">
                    <div class="post-preview__inner">
                        <h3 class="post-preview__caption">
                            Боль в зубе - почему нельзя
                            тянуть с визитом к врачу?
                        </h3>
                        <div class="post-preview__footer">
                            <time class="post-preview__date" datetime="2021-01-25">
                                25.01.2021
                            </time>
                            <div class="post-preview__icon">
                                <svg class="post-preview__chevron" width="28" height="28" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.4001 14.0001L12.1773 10.4917C11.9029 10.2145 11.9029 9.76512 12.1773 9.48652C12.4517 9.21072 12.8983 9.21072 13.1713 9.48652L17.1011 13.4961C17.3755 13.7747 17.3755 14.2241 17.1011 14.4999L13.1713 18.5095C12.8983 18.7881 12.4517 18.7867 12.1773 18.5095C11.9029 18.2337 11.9029 17.7843 12.1773 17.5057L15.4001 14.0001ZM14.0001 0.56012C21.4229 0.56012 27.4401 6.57732 27.4401 14.0001C27.4401 21.4243 21.4229 27.4401 14.0001 27.4401C6.57726 27.4401 0.560059 21.4243 0.560059 14.0001C0.560059 6.57732 6.57726 0.56012 14.0001 0.56012ZM14.0001 25.6957C20.4583 25.6957 25.6957 20.4597 25.6957 14.0001C25.6957 7.54052 20.4583 2.30452 14.0001 2.30452C7.53906 2.30452 2.30446 7.54052 2.30446 14.0001C2.30306 20.4597 7.53906 25.6957 14.0001 25.6957Z"/>
                                </svg> 
                            </div>
                        </div>
                    </div>
                </a>
            </article>
        </div>

        <a class="useful__btn" href="posts.html">
            Посмотреть все публикации
        </a>
    </div>
</section>