.accordion1-item {
    &__header {
        position: relative;
        display: block;
        width: 100%;
        padding: 19px 55px 19px 26px;
        border-left: 10px solid $color-light-green;

        border-radius: 10px;
        color: $color-gray;
        background-color: #f0f8f0;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
        transition: color 0.5s linear;
        user-select: none;
        cursor: pointer;

        font-size: 22px;
        font-weight: 700;
        line-height: 22/22 * 100%;
        text-align: left;

        @media (max-width: 768px) {
            padding: 17px 55px 17px 14px;

            font-size: 16px;
            font-weight: 400;
        }

        &:hover {
            opacity: 0.85;
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;

            background-image: url("../images/accordion/pointer.svg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            transition: transform 0.5s linear;

            @media (max-width: 768px) {
                right: 14px;
                width: 26px;
                height: 26px;
            }
        }

        
        &.accordion-item__header--active {
            border-left-color: transparent;
            color: $color-white;
            background: linear-gradient(180deg, #019244 0%, #017a39 100%), linear-gradient(0deg, #58595b, #58595b), $color-dark-green;

            &::after {
                transform: translateY(-50%) rotate(90deg);
            }
        }
    }

    &__body {
        max-height: 0;

        transition: max-height 0.4s linear;

        overflow: hidden;
    }

    &__content {
        padding-top: 24px;
        padding-bottom: 39px;
    }
}
