.description {
    &__title {
        margin-bottom: 15px;

        color: rgba(255, 255, 255, 0.5);

        font-size: 18px;
        line-height: 18/18 * 100%;

        @media (max-width: 1024px) {
            margin-bottom: 11px;

            font-size: 16px;
        }

        @media (max-width: 576px) {
            margin-bottom: 6px;

            font-size: 14px;
        }
    }

    &__text {
        color: $color-gray;

        font-size: 16px;
        line-height: 18/16 * 100%;

        @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 14/14 * 100%;
        }
    }
}
