.details {
    padding-bottom: 38px + 40px;

    @media (max-width: 1024px) {
        padding-bottom: 38px + 30px;
    }

    @media (max-width: 768px) {
        padding-bottom: 38px + 25px;
    }

    @media (max-width: 670px) {
        padding-top: 50px;
    }

    @media (max-width: 576px) {
        padding-top: 40px;
        padding-bottom: 38px + 22px;
    }
}
