.directions {
    @media (max-width: 576px) {
        padding-bottom: 12px;
    }

    &__title {
        margin-bottom: 12px;
    }

    &__cards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: -8px;

        @media (max-width: 670px) {
            flex-direction: column;
            margin-right: 0;
            margin-left: 0;
        }
    }

    &__card {
        margin: 8px;
    }
}
