.review-card {
    min-height: 356px;
    padding: 44px 52px;

    background-color: #f0f8f0;
    border-radius: 20px;

    @media (max-width: 1280px) {
        min-height: 300px;
        padding: 31px 35px;
    }

    @media (max-width: 1024px) {
        min-height: 260px;
        padding: 27px 31px 35px;
    }

    @media (max-width: 768px) {
        min-height: 240px;
    }

    @media (max-width: 576px) {
        padding-left: 22px;
        padding-right: 22px;
    }

    &__header {
        margin-bottom: 12px;

        @media (max-width: 1024px) {
            font-size: 16px;
            line-height: 20/16 * 100%;
        }

        @media (max-width: 768px) {
            font-size: 14px;
            line-height: 18/14 * 100%;
        }
    }

    &__subject,
    &__recipient {
        color: $color-black;
    }

    &__subject-name,
    &__recipient-name {
        margin-left: 4px;
    }

    &__body {
        margin-bottom: 24px;
    }

    &__text {
        @media (max-width: 1024px) {
            font-size: 16px;
            line-height: 18/16 * 100%;
        }

        @media (max-width: 768px) {
            font-size: 14px;
            line-height: 16/14 * 100%;
        }
    }

    &__author {
        margin-right: 5px;

        color: $color-gray;

        font-size: 16px;
        font-weight: 700;
        line-height: 16/16 * 100%;

        @media (max-width: 1024px) {
            font-size: 14px;
        }

        @media (max-width: 768px) {
            font-size: 12px;
        }
    }

    &__date {
        color: #a4a8a5;

        @media (max-width: 1280px) {
            display: none;
        }
    }
}
